container_commands:
  01saveEnvToLocalDotEnv:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "\(.key)=\"\(.value)\""' | sudo tee .env.local
  01saveEnvToLocalInstanceEnv:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' | sudo tee /etc/profile.d/sh.local
